@media (min-width: 800px) {
	
	.advantages{
		width: 1200px;
		margin-top: 50px;
	}

	.advantages--natural-city{
		display: flex;
		max-height: 257px;
		&__last{
			padding-top: -10px;
		}
	}

	.advantages--item__all{
		padding-top: 50px;
		padding-bottom: 59px;
		font-family: $main-font;
		background-color: $btn-color;
		width: 400px;
		color: $col-f-bb;	
		& h2{
			@include title-style;
			@include margin-auto;
			width: 152px;
			margin-bottom: 15px;
		}
		& span{
			margin-bottom: 17px;
			@include desc-style;
		}
		& p{
			@include margin-auto;
			@include desc-style;
			width: 270px;
		}
	}

	.advantages--logo__first{
		background-color: $btn-color;
		width: 800px;
	}

	.advantages--list{
		display: flex;
	}

	.advantages--list-item{
		width: 400px;
		background-color: $main-color;
		padding-top: 60px;
		padding-bottom: 28px;
	}

	.advantages--logo{
		display: block;
		vertical-align: bottom;
		@include margin-auto;
		margin-bottom: 28px;
		&__burg{
			margin-top: 6px;
		}
	}

	.advantages--title{
		@include margin-auto;
		@include title-style;
		max-width: 120px;
		margin-bottom: 20px;
		color: $desc;
	}

	.advantages--description{
		@include desc-style;
		@include margin-auto;
		width: 300px;
		color: $desc;
	}

	.advantages--item__last{
		background-color: $list-color;
		& span{
		 color: $desc;
		}
	}

}