@media (max-width: 449px){

	.feetback--headline{
		@include title-style-mob;
	}

	.feetback--form textarea{
		margin-top: 20px;
		width: calc(100% - 20px);
		height: 160px;
		background-color: #F2F2F2;
		border:0;
		padding: 10px;
			&::placeholder{
			@include title-style-mob;
			text-align: left;
			color: #000;
		}
	}

	.feetback-btn{
		@include title-style;
		text-align: center;
		color: $col-f-bb;
		background-color: $btn-color-mob;
		display: inline-block;
		width: 100%;
		padding: 16px 0;
		margin-top: 50px;
	}

	.feetback-rules{
		display: none;
	}

}

@media (min-width: 450px){

	.feetback{
		margin-top: 70px;
		margin-bottom: 90px;
		width: 960px;
		@include margin-auto;
	}

	.feetback--headline{
		position: relative;
		@include title-style;
		margin-bottom: 70px;
		background-color: #fff;
		z-index: 2;
		&::before{
			z-index: 3;
			position: absolute;
			left: -20px;
			top: 12px;
			content: " ";
			width: 280px;
			height: 2px;
			background-color: #DBDBDB;
		}
		&::after{
			z-index: 3;
			position: absolute;
			right: -20px;
			top: 12px;
			content: " ";
			width: 280px;
			height: 2px;
			background-color: #DBDBDB;
		}
	}

	.feetback--form textarea{
		background-color: #F2F2F2;
		width: 100%;
		padding: 10px;
		border:0;
		@include margin-auto;
		margin-left: -10px;
	}

	.feetback--form textarea::placeholder{
		@include title-style-mob;
		text-align: left;
		color: #000;
	}

	.feetback--btn-rules{
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
	}

	.feetback-btn{
		@include title-style;
		text-align: center;
		color: $col-f-bb;
		background-color: $btn-color;
		display: inline-block;
		width: 480px;
		padding: 10px 0;
	}

	.feetback-rules{
		font-family: $main-font;
		font-size: 14px;
		line-height: 26px;
		margin-right: -20px;
	}

}