@media (min-width: 800px) {
	
	.main-footer{
		display: flex;
		justify-content: space-around;
		-ms-align-items: center;
		align-items: center;
		width: 1200px;
		padding-top: 38px;
		padding-bottom: 36px;
	}
	.main-footer span:first-child{
		@include title-style;
	}

	.main-footer span:last-child{
		font-family: $main-font;
		font-size: 14px;
		line-height: 26px;
	}

	.main-footer--list{
		display: flex;
		justify-content: space-between;
		background-color: $main-color;		
		width: 151px;
	}

	.main-footer--social{
		position: relative;
		display: block;
		background-color: $btn-color;
		width: 46px;
		height: 48px;
		&:hover{
			background-color: #669EC0;
		}
	}

	.main-footer{
		&__twitter{
			top: 17px;
			left: 15px;
		}
		&__facebook{
			top: 15px;
			left: 18px;
		}
		&__youtube{
			top: 17px;
			left: 12px;
		}
	}

	.main-footer img{
		position: absolute;
	}
}