$main-font: PT Sans, Arial, sans-serif;
$main-color: #FFFFFF; /*белый*/
$list-color: #EEEEEE; /*серый*/
$btn-color: #81B3D2; /*голубой*/


*{
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}