$main-font: PT Sans, Arial, sans-serif;
$main-color: #FFFFFF; /*белый*/
$list-color: #EEEEEE; /*серый. background ласт блоков*/
$btn-color: #81B3D2; /*голубой*/
$col-f-bb: #ffffff; /*белый. цвет для текста голубых блоков*/
$desc: #333333; /*цвет текста белыx блоков*/


*{
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

span{
	display: block;
}

h1,h2,h3,h4,span,p{
	text-align: center;
}