	.main-sedona--greetings{
			background-color: $main-color;
		}

	.main-sedona--title{
		@include margin-auto;
	}

@media (max-width: 449px) {

	.main-sedona--greetings{
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 35px;
	}
	
	.main-sedona--title{
		font-family: $main-font;
		@include title-style-mob;
		width: 266px;
		margin-bottom: 25px;
	}

	.main-sedona--description{
		@include margin-auto;
		text-align: center;
		@include desc-style-mob;
		color: $desc;
		margin-top: 20px;
		line-height: 26px;
	}

}

@media (min-width: 450px) {
	
	.main-sedona--title{		
		@include title-style;
		width: 450px;
		margin-top: 0;
		margin-bottom: 30px;
	}

	.main-sedona--description{
		@include margin-auto;
		text-align: center;
		font-family: $main-font;
		font-size: 14px;
		line-height: 26px;
		color: $desc;
	}
}