@media (min-width: 800px) {

	header,
	body{
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.main-header{
		position: relative;
		&::after {
			content: "";
			position: absolute;
			height: 350px;
			width: 460px;
			left: 370px;
			top: 134px;
			background-image: url(../img/text-index.png);
			background-repeat: no-repeat;
		}
		&::before  {
			content: "";
			position: absolute;
			bottom: 57px;
			height: 57px;
			width: 1200px;
			background-image: url(../img/intro-triangle.png);
			background-repeat: no-repeat;
		}
	}

	
	.main-header--logo{
		position: absolute;
		left: 500px;
	}

	.main-header--list-items{
		display: flex;
		justify-content: space-around;
		background-color: $main-color;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.main-header--item a{
		font-family: $main-font;
		font-size: 14px;
		font-weight: bold;
		line-height: 26px;
		color: #000000;
		background-color: $main-color;
		padding-top: 15px;
		padding-bottom: 15px;
		&:hover{
			color: #81B3D2;
		}
	}

	.header-logo--sedona{
		background-image: url(../img/back-desktop.jpg);
		background-repeat: no-repeat;
		min-height: 575px;
	}
	
}