.name-form input::placeholder,
.contact-info--form input::placeholder{
		@include title-style-mob;
		text-align: left;
		color: #000;
	}

	.name-form input,
	.contact-info--form input{
		background-color: #F2F2F2;
		padding: 15px;
		margin-left: 10px;
		border: 0px;
	}

	.impression-form label input{
	  transform:scale(4.5);
	  opacity:0.9;
	  cursor:pointer;
	}



@media (max-width: 449px){


	.mob-order{
		font-family: $main-font;
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.impression-name{
		display: flex;
		flex-direction: column-reverse;
		padding-top: 15px;
	}

	.contact-info--headline{
		margin-bottom: 20px;
	}

	.impression--headline,
	.name--headline,
	.contact-info--headline{
		@include title-style-mob;
	}

	.impression-form{
		display: flex;
		flex-direction: column;
	}

	.impression-form label{
		@include title-style-mob;
		text-align: left;
		color: #000;
		margin-top: 20px;
	}

	.impression-form label:first-child{
		margin-top: 0px;
	}

	.impression--headline{
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.impression-form label input{
		margin-left: 30px;
		margin-top: 20px;
	}

	.imp-name{
		text-align: left;
		margin-left: 40px;
		display: inline;
	}

	.name--headline{
		margin-bottom: 20px;
	}

	.name-form,
	.contact-info--form{
		padding-left: 20px;
		display: flex;
		flex-direction: column;
	}

	.contact-info--form input{
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 0px;
	}

	.name-form label,
	.contact-info--form label{
		font-size: 14px;
		line-height: 26px;
		text-align: left;
	}

	.name-form label{
		margin-bottom: 40px;
	}

	#name1{
		width: 205px;
	}

	.name{
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 0px;
	}

	.impression{
		margin-top: 320px;
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 30px;
	}

	.contact-info{
		position: absolute;
		top: 355px;
		width: 320px;
		padding-bottom: 10px;
		border-bottom: 1px solid #e5e5e5;
	}
	
}


@media (min-width: 450px){

	.contact-info--form br{
		display: none;
	}

	.impression-name{
		width: 960px;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		margin-top: 60px;
		justify-content: space-between;
	}

	.impression,
	.name{
		width: 50%;
	}

	.impression--headline,
	.name--headline{
		@include title-style;
		text-align: left;
		margin-left: 50px;
	}

	.impression-form,
	.name-form{
		display: flex;
		flex-direction: column;
		margin-top: 55px;
	}

	.impression-form label{
		cursor:pointer;
		margin-bottom: 55px;
		@include title-style-mob;
		text-align: left;
	}

	.impression-form label span{
		display: inline;
		text-align: left;
		padding-left: 40px;
	}

	.name{
		padding-left: 120px;
	}

	.name-form label{
		cursor:pointer;
		margin-bottom: 38px;
		text-align: left;
		font-size: 14px;
		line-height: 26px;
	}

	.name-form input{
		background-color: #F2F2F2;
		padding: 15px;
		margin-left: 10px;
		border: 0px;
	}

	#name1{
		width: 320px;
	}

	#name2{
		width: 280px;
	}

	#name3{
		width: 285px;
	}

}