@media (min-width: 800px){
	
	.navigation{
		width: 1200px;
		background-color: $main-color;
	}

	.navigation--info{
		padding-top: 55px;
		padding-bottom: 66px;
	}

	.navigation--title{
		color: #000000;
		font-family: $main-font;
		font-size: 30px;
		line-height: 26px;
		margin-bottom: 33px;
	}

	.navigation--description{
		color: $desc;
		@include desc-style;
		width: 450px;
		@include margin-auto;
		margin-bottom: 48px;
		line-height: 24px;
	}

	.navigation--link{
		display: block;
		@include margin-auto;
		@include title-style;
		background-color: $btn-color;		
		color: $col-f-bb;
		width: 460px;
		padding: 16px 0;
		&:hover{
			background-color: #669EC0;
		}
	}
}