

@media (max-width: 449px){

	.main-sedona{
		
	}

	.photo{
		padding-left: 20px;
		padding-right: 20px;
	}

	.main-sedona--greetings{
		margin-bottom: 25px;
	}

	.main-sedona--description br{
		display: none;
	}

	.photo-item{
		overflow: hidden;
		width: 280px;
		padding-top: 20px;
		&:after{
			content: "";
			display: block;
			height: 1px;
			width: 100%;
			background-color: #E6E6E6;
		}
	}

	.photo-item>img{
		margin-left: -75px;
		height: 280px;
	}

	.photo-item:nth-child(1){

		&:before{
			content: "";
			display: block;
			height: 1px;
			width: 600px;
			background-color: #E6E6E6;
		}
		&>img{
			margin-top: 20px;
			margin-left: -280px;
		}
	}

	.photo-like{
		display: flex;
		align-items: flex-start;
		margin-bottom: 10px;
	}

	.photo-like img{
		margin-right: 15px;
	}

	.photo--name,
	.photo-like span{
		font-family: $main-font;
		font-size: 14px;
		line-height: 24px;
		font-weight: bold;
		text-align: left;
		& p{
			font-weight: normal;
			text-align: left;
		}	
		& h3{
			padding-top: 10px;
			text-align: left;
		}	
	}

	.navigation{
		margin-top: 30px;
	}

	.navigation--map{
		display: none;
	}

	.mobile--player{
		background-image: url(..//img/sedona-photo-video.jpg);
		background-size: cover;
		width: 320px;
		height: 270px;
	}
		
}

@media (min-width: 450px){

	.photo{
		margin-top: 70px;
	}

	.photo--list{
		display: flex;
		flex-wrap: wrap;
	}

	.photo-item{
		position: relative;
	}

	.photo-item>div{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		top: 187px;
		color: $main-color;
		width: 100%;
		background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4));
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.photo--name{
		margin-left: 20px;
		@include desc-style;
		& h3{
			padding-bottom: 7px;
			text-align: left;
		}
		& p{
			text-align: left;
		}
	}

	.photo-like{
		padding-right: 30px;
		position: relative;
	}

	.photo-like img{
		position: absolute;
		right: 63px;
		bottom: 1px;
	}

	.photo-item:nth-child(1){
		margin-bottom: -4px;
		&>div{
			top: 321px;
		}
		& img{
			right: 70px;
		}
	}

	.player{
		margin-left: 200px;
		margin-right: 200px;
		margin-top: -50px;
	}

	.mobile--player{
		display: none;
	}

}