@media (max-width: 449px){

		.visited{
			margin-top: 15px;
			padding-bottom: 30px;
			margin-bottom: 20px;
			border-bottom: 1px solid #e5e5e5;
		}

		.visited--headline{
			@include title-style-mob;
		}

		.visited-form{
			display: flex;
			flex-direction: column;
			margin-top: 35px;
		}

		.visited-form input{
	  transform:scale(4.5);
	  opacity:0.9;
	  cursor:pointer;
	  margin-top: 50px;
	  margin-left: 30px;
		}

		.visited-form input[name="diavol"]{
			margin-top: 0;
		}

		.name-sight{
			margin-left: 40px;
			font-style: normal;
			@include title-style-mob;
		}

}

@media (min-width: 450px){

	.visited{
		margin-top: 70px;
		width: 960px;
		@include margin-auto;
	}

	.visited--headline{
		position: relative;
		@include title-style;
		margin-bottom: 70px;
		background-color: #fff;
		z-index: 2;
		&::before{
			z-index: 3;
			position: absolute;
			left: -20px;
			top: 12px;
			content: " ";
			width: 280px;
			height: 2px;
			background-color: #DBDBDB;
		}
		&::after{
			z-index: 3;
			position: absolute;
			right: -20px;
			top: 12px;
			content: " ";
			width: 280px;
			height: 2px;
			background-color: #DBDBDB;
		}
	}

	.visited-form{
		display: flex;
		justify-content: space-between;
	}

	.visited-form input{
		margin-left: 70px;
	  transform:scale(4.5);
	  opacity:0.9;
	  cursor:pointer;
	}

	.visited-form input[name="diavol"]{
		margin-left: 0;
	}

	.name-sight{
		padding-left: 30px;
		@include title-style-mob;
		color: #000;
		font-style: normal;
	}

}