@import "styles/mixins.scss";

@import "styles/global.scss";

@import "styles/header.scss";
@import "styles/greetings.scss";
@import "styles/advantages1.scss";
@import "styles/advantages2.scss";
@import "styles/navigation.scss";
@import "styles/footer.scss";