@charset "UTF-8";
/*белый*/
/*серый. background ласт блоков*/
/*голубой*/
/*белый. цвет для текста голубых блоков*/
/*цвет текста белыx блоков*/
* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0; }

span {
  display: block; }

h1, h2, h3, h4, span, p {
  text-align: center; }

@media (min-width: 800px) {
  header,
  body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .main-header {
    position: relative; }
    .main-header::after {
      content: "";
      position: absolute;
      height: 350px;
      width: 460px;
      left: 370px;
      top: 134px;
      background-image: url(../img/text-index.png);
      background-repeat: no-repeat; }
    .main-header::before {
      content: "";
      position: absolute;
      bottom: 57px;
      height: 57px;
      width: 1200px;
      background-image: url(../img/intro-triangle.png);
      background-repeat: no-repeat; }
  .main-header--logo {
    position: absolute;
    left: 500px; }
  .main-header--list-items {
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px; }
  .main-header--item a {
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px; }
    .main-header--item a:hover {
      color: #81B3D2; }
  .header-logo--sedona {
    background-image: url(../img/back-desktop.jpg);
    background-repeat: no-repeat;
    min-height: 575px; } }

@media (min-width: 800px) {
  .main-sedona--greetings {
    background-color: #FFFFFF; }
  .main-sedona--title {
    margin-left: auto;
    margin-right: auto;
    font-family: PT Sans, Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    width: 450px;
    margin-top: 0;
    margin-bottom: 30px; }
  .main-sedona--description {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #333333; } }

@media (min-width: 800px) {
  .advantages {
    width: 1200px;
    margin-top: 50px; }
  .advantages--natural-city {
    display: flex;
    max-height: 257px; }
    .advantages--natural-city__last {
      padding-top: -10px; }
  .advantages--item__all {
    padding-top: 50px;
    padding-bottom: 59px;
    font-family: PT Sans, Arial, sans-serif;
    background-color: #81B3D2;
    width: 400px;
    color: #ffffff; }
    .advantages--item__all h2 {
      font-family: PT Sans, Arial, sans-serif;
      font-weight: bold;
      font-size: 21px;
      line-height: 26px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 152px;
      margin-bottom: 15px; }
    .advantages--item__all span {
      margin-bottom: 17px;
      font-family: PT Sans, Arial, sans-serif;
      font-size: 14px;
      line-height: 21px;
      text-align: center; }
    .advantages--item__all p {
      margin-left: auto;
      margin-right: auto;
      font-family: PT Sans, Arial, sans-serif;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      width: 270px; }
  .advantages--logo__first {
    background-color: #81B3D2;
    width: 800px; }
  .advantages--list {
    display: flex; }
  .advantages--list-item {
    width: 400px;
    background-color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 28px; }
  .advantages--logo {
    display: block;
    vertical-align: bottom;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px; }
    .advantages--logo__burg {
      margin-top: 6px; }
  .advantages--title {
    margin-left: auto;
    margin-right: auto;
    font-family: PT Sans, Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    max-width: 120px;
    margin-bottom: 20px;
    color: #333333; }
  .advantages--description {
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: #333333; }
  .advantages--item__last {
    background-color: #EEEEEE; }
    .advantages--item__last span {
      color: #333333; } }

@media (min-width: 800px) {
  .navigation {
    width: 1200px;
    background-color: #FFFFFF; }
  .navigation--info {
    padding-top: 55px;
    padding-bottom: 66px; }
  .navigation--title {
    color: #000000;
    font-family: PT Sans, Arial, sans-serif;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 33px; }
  .navigation--description {
    color: #333333;
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    line-height: 24px; }
  .navigation--link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: PT Sans, Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    background-color: #81B3D2;
    color: #ffffff;
    width: 460px;
    padding: 16px 0; }
    .navigation--link:hover {
      background-color: #669EC0; } }

@media (min-width: 800px) {
  .main-footer {
    display: flex;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
    width: 1200px;
    padding-top: 38px;
    padding-bottom: 36px; }
  .main-footer span:first-child {
    font-family: PT Sans, Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center; }
  .main-footer span:last-child {
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 26px; }
  .main-footer--list {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 151px; }
  .main-footer--social {
    position: relative;
    display: block;
    background-color: #81B3D2;
    width: 46px;
    height: 48px; }
    .main-footer--social:hover {
      background-color: #669EC0; }
  .main-footer__twitter {
    top: 17px;
    left: 15px; }
  .main-footer__facebook {
    top: 15px;
    left: 18px; }
  .main-footer__youtube {
    top: 17px;
    left: 12px; }
  .main-footer img {
    position: absolute; } }

/*# sourceMappingURL=style.css.map */
