@charset "UTF-8";
/*белый*/
/*серый. background ласт блоков*/
/*голубой*/
/*белый. цвет для текста голубых блоков*/
/*цвет текста белыx блоков*/
/*голубой для мобильной версии*/
* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0; }

span {
  display: block; }

h1, h2, h3, h4, span, p {
  text-align: center; }

@media (max-width: 449px) {
  header,
  body {
    width: 320px;
    margin-left: auto;
    margin-right: auto; }
  .main-header {
    position: relative; }
  .main-header--main-nav > a {
    display: inline-block;
    margin-left: 275px;
    margin-top: 18px;
    margin-bottom: 18px; }
  .main-header--logo {
    position: absolute;
    width: 102px;
    height: 83px;
    left: 111px;
    background-image: url(../img/logotyle-mobile.png);
    z-index: 2; }
  .main-header::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 300px;
    left: 20px;
    top: 140px;
    background-image: url(../img/text-index.png);
    background-repeat: no-repeat;
    background-size: 280px; }
  .main-header::before {
    content: "";
    position: absolute;
    bottom: 2px;
    height: 57px;
    left: -440px;
    width: 1200px;
    background-image: url(../img/intro-triangle.png);
    background-repeat: no-repeat; }
  .header-logo--sedona {
    background-image: url(../img/back-mobile.jpg);
    background-repeat: no-repeat;
    min-height: 392px; }
  .main-header--list-items {
    display: none; } }

@media (min-width: 450px) {
  .main-header--main-nav > a {
    display: none; }
  header,
  body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .main-header {
    position: relative; }
    .main-header::after {
      content: "";
      position: absolute;
      height: 350px;
      width: 460px;
      left: 370px;
      top: 134px;
      background-image: url(../img/text-index.png);
      background-repeat: no-repeat; }
    .main-header::before {
      content: "";
      position: absolute;
      bottom: 57px;
      height: 57px;
      width: 100%;
      background-image: url(../img/intro-triangle.png);
      background-repeat: no-repeat; }
  .main-header--logo {
    position: absolute;
    width: 188px;
    height: 96px;
    left: 500px;
    background-image: url(../img/logotype-desktop.png); }
  .main-header--list-items {
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px; }
  .main-header--item a {
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px; }
    .main-header--item a:hover {
      color: #81B3D2; }
  .header-logo--sedona {
    background-image: url(../img/back-desktop.jpg);
    background-repeat: no-repeat;
    min-height: 575px; } }

.main-sedona--greetings {
  background-color: #FFFFFF; }

.main-sedona--title {
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 449px) {
  .main-sedona--greetings {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 35px; }
  .main-sedona--title {
    font-family: PT Sans, Arial, sans-serif;
    font-family: PT Sans, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    width: 266px;
    margin-bottom: 25px; }
  .main-sedona--description {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    margin-top: 20px;
    line-height: 26px; } }

@media (min-width: 450px) {
  .main-sedona--title {
    font-family: PT Sans, Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    width: 450px;
    margin-top: 0;
    margin-bottom: 30px; }
  .main-sedona--description {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #333333; } }

.advantages--item__all {
  font-family: PT Sans, Arial, sans-serif;
  color: #ffffff; }

.advantages--list-item {
  background-color: #FFFFFF; }

@media (max-width: 449px) {
  .advantages {
    width: 320px;
    padding-top: 45px;
    margin-bottom: 70px; }
  .advantages--item__all {
    background-color: #65B4D4;
    padding-bottom: -10px; }
    .advantages--item__all h2 {
      font-family: PT Sans, Arial, sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      padding-top: 40px; }
    .advantages--item__all span {
      margin-bottom: 15px;
      margin-top: 15px;
      font-family: PT Sans, Arial, sans-serif;
      font-size: 14px;
      line-height: 21px;
      text-align: center; }
    .advantages--item__all p {
      margin-left: auto;
      margin-right: auto;
      font-family: PT Sans, Arial, sans-serif;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      width: 270px;
      padding-bottom: 40px; }
  .advantages--logo__first {
    width: 320px;
    height: 260px;
    background-image: url(../img/photo-city@1x.png);
    background-repeat: no-repeat;
    background-position: -280px -2px; }
  .advantages--list {
    display: flex;
    flex-direction: column;
    margin-bottom: -40px; }
    .advantages--list__sec {
      margin-top: -6px; }
  .advantages--list-item__order {
    order: 1; }
  .advantages--list-item {
    position: relative;
    margin-bottom: 30px; }
    .advantages--list-item:first-child {
      margin-top: 29px; }
  .advantages--title {
    font-family: PT Sans, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-align: left;
    margin-left: 70px; }
  .advantages--description {
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-align: left;
    margin-left: 70px;
    margin-top: 11px;
    width: 213px; }
  .advantages--logo {
    width: 40px;
    position: absolute;
    left: 10px;
    top: -5px; }
  .advantages--natural-city2 {
    display: flex;
    flex-direction: column-reverse; }
  .advantages--logo__sec {
    background-image: url(../img/photo-bridge@1x.png); }
  .advantages--item__last {
    color: black;
    border-bottom: 1px solid #D7D7D7;
    padding-top: 30px;
    background-color: #EEEEEE;
    height: 160px; }
  .advantages--item__last h3 {
    margin-left: 0;
    text-align: center; } }

@media (min-width: 450px) {
  .advantages {
    width: 1200px;
    margin-top: 50px; }
  .advantages--natural-city {
    display: flex;
    max-height: 257px; }
    .advantages--natural-city__last {
      padding-top: -10px; }
  .advantages--item__all {
    padding-top: 50px;
    padding-bottom: 59px;
    width: 400px;
    background-color: #81B3D2; }
    .advantages--item__all h2 {
      font-family: PT Sans, Arial, sans-serif;
      font-weight: bold;
      font-size: 21px;
      line-height: 26px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 152px;
      margin-bottom: 15px; }
    .advantages--item__all span {
      margin-bottom: 17px;
      font-family: PT Sans, Arial, sans-serif;
      font-size: 14px;
      line-height: 21px;
      text-align: center; }
    .advantages--item__all p {
      margin-left: auto;
      margin-right: auto;
      font-family: PT Sans, Arial, sans-serif;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      width: 270px; }
  .advantages--logo__first {
    background-color: #81B3D2;
    width: 800px;
    background-image: url(../img/photo-city@1x.png); }
  .advantages--list {
    display: flex; }
  .advantages--list-item {
    width: 400px;
    padding-top: 60px;
    padding-bottom: 28px; }
  .advantages--logo {
    display: block;
    vertical-align: bottom;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px; }
    .advantages--logo__burg {
      margin-top: 6px; }
  .advantages--title {
    margin-left: auto;
    margin-right: auto;
    font-family: PT Sans, Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    max-width: 120px;
    margin-bottom: 20px;
    color: #333333; }
  .advantages--description {
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: #333333; }
  .advantages--item__last {
    background-color: #EEEEEE; }
    .advantages--item__last span {
      color: #333333; } }

.navigation {
  width: 320px;
  background-color: #FFFFFF; }

.navigation--title {
  color: #000000;
  font-family: PT Sans, Arial, sans-serif; }

.navigation--link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: PT Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  padding: 16px 0; }
  .navigation--link:hover {
    background-color: #669EC0; }

@media (max-width: 449px) {
  .navigation--map img {
    display: none; }
  .navigation--map {
    background-image: url(../img/map-mobile.jpg);
    width: 320px;
    height: 350px; }
  .navigation--info h3 {
    padding-bottom: 15px;
    font-family: PT Sans, Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center; }
  .navigation--info p {
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    line-height: 24px;
    color: #333333;
    padding: 0 20px;
    padding-bottom: 40px; }
  .navigation--link {
    background-color: #65B4D4;
    width: 280px;
    margin-bottom: 50px; } }

@media (min-width: 450px) {
  .navigation {
    width: 1200px; }
  .navigation--info {
    padding-top: 55px;
    padding-bottom: 66px; }
  .navigation--title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 33px; }
  .navigation--description {
    color: #333333;
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    line-height: 24px; }
  .navigation--link {
    background-color: #81B3D2;
    width: 460px; } }

.main-footer {
  background-color: #FFFFFF; }

.main-footer span:first-child {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center; }

.main-footer span:last-child {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px; }

.main-footer--list {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  width: 151px; }

.main-footer--social {
  position: relative;
  display: block;
  background-color: #65B4D4;
  width: 46px;
  height: 48px; }
  .main-footer--social:hover {
    background-color: #669EC0; }

.main-footer__twitter {
  top: 17px;
  left: 15px; }

.main-footer__facebook {
  top: 15px;
  left: 18px; }

.main-footer__youtube {
  top: 17px;
  left: 12px; }

.main-footer img {
  position: absolute; }

@media (max-width: 450px) {
  .main-footer {
    padding-top: 35px;
    padding-bottom: 25px; }
  .main-footer--list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
    margin-top: 38px; } }

@media (min-width: 450px) {
  .main-footer {
    display: flex;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
    width: 1200px;
    padding-top: 38px;
    padding-bottom: 36px; }
  .main-footer--list {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 151px; }
  .main-footer--social {
    background-color: #81B3D2; } }

@media (min-width: 450px) {
  .photo {
    margin-top: 70px; }
  .photo--list {
    display: flex;
    flex-wrap: wrap; }
  .photo-item {
    position: relative; }
  .photo-item > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 187px;
    color: #FFFFFF;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    padding-top: 15px;
    padding-bottom: 15px; }
  .photo--name {
    margin-left: 20px;
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center; }
    .photo--name h3 {
      padding-bottom: 7px;
      text-align: left; }
    .photo--name p {
      text-align: left; }
  .photo-like {
    padding-right: 30px;
    position: relative; }
  .photo-like img {
    position: absolute;
    right: 63px;
    bottom: 1px; }
  .photo-item:nth-child(1) {
    margin-bottom: -4px; }
    .photo-item:nth-child(1) > div {
      top: 321px; }
    .photo-item:nth-child(1) img {
      right: 70px; }
  .player {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: -50px; } }

/*# sourceMappingURL=style.css.map */
